.SendArrow {
  aspect-ratio: 1;
  height: 100%;
  max-height: 3em;
  border-radius: 50%;
  position: relative;
}


.SendArrow::after {
  content: '';
  position: absolute;

  border-color: blue;
  border-style: groove;
  border-width: 5px 5px 0px 0px;

  height: 30%;
  width: 30%;
  transform: rotate(40deg)
             skew(-15deg, -15deg);
  
  top: 27%;
  left: 17%;

}