.MessageInput {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.input {
  border-radius: 8px;
  height: 2em;
  border-color: #bbb;
  padding: 0px 10px;
  outline-color: #6AB8DA;
  flex-grow: 1;
}